.about-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.about-content {
  flex-direction: column;
  display: flex;
  width: 90%;
  padding: 2rem;
  gap: 4rem;
}

.about-text {
  display: flex;
  flex-direction: column;
}

.about-text h1 {
  text-transform: uppercase;
  padding: 0.6rem 0 1.5rem;
}
.about-text p {
  font-size: 1.5rem;
  font-weight: 100;
  padding-bottom: 1.5rem;
}
