.nav-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nav-con h2 {
  color: #a7d129;
}

.mini-nav {
  display: flex;
}

.link {
  padding: 0 1rem;
}

.mini-nav li a {
  font-size: 1.2rem;
  font-weight: 500;
}

.link a {
  transition: all 0.2s;
}

.link:hover a {
  color: #a7d129;
}

@media screen and (max-width: 640px) {
  .mini-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
