.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.nav-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.nav-container h1 {
  color: #a7d129;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  padding: 0 1rem;
}

.nav-menu li a {
  font-size: 1.2rem;
  font-weight: 500;
}

.menu-icon {
  display: none;
}

/* media screen for mobile devices*/

@media screen and (max-width: 1040px) {
  .nav-content {
    flex-direction: column;
    align-items: center;
  }
  .nav-menu {
    display: flex;
    gap: 0.8rem;
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu li a {
    font-size: 1.3rem;
  }
}
