/* .project-container {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  justify-content: center;
  gap: 2rem;
} */

.project-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* padding: 30px; */
  padding-top: 50px;
}

.project-card {
  position: relative;
  max-width: 300px;
  height: 215px;

  overflow: visible;

  margin: 30px 10px;
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.project-header {
  position: relative;
  width: 260px;
  height: 260px;

  top: -40%;
  left: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.project-card:hover {
  height: 320px;
}

.project-header img {
  max-width: 100%;
  border-radius: 15px;
}

.project-title {
  padding: 0.5rem 0;
}

.body-content {
  position: relative;
  top: -140px;
  padding: 10px 15px;

  text-align: center;

  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.body-content h2 {
  font-size: 20px;
  font-weight: bold;
}

.body-content p {
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
}

.project-card:hover .body-content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.2s;
}

.project-btns {
  height: auto;
  width: auto;
}

@media screen and (max-width: 740px) {
  .project-container {
    flex-direction: column;
    padding-top: 50px;
    gap: 5rem;
  }
}
