.section-container {
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

.brown-container {
  background: #bbb19d;
  border-radius: 0.5rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.content-container h1 {
  text-transform: uppercase;
  font-weight: 500;
}

.content-container p {
  font-size: 1rem;
  font-weight: 500;
}

.skills-container h1 {
  font-size: 2rem;
}

.black-header {
  color: #242121;
}

.list-con {
  display: flex;
  gap: 1rem;
}

.skill-list {
  color: #242121;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 90px;
}

.skill-list h5 {
  display: none;
}

.reactIcon {
  transition: all 0.2s;
}

.skill-list:hover {
  color: #667870;
}

.skill-list:hover h5 {
  display: inline;
}

.reactIcon:hover {
  color: #667870;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
