.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.hero .content h1 {
  font-size: 5rem;
  padding-bottom: 0.2rem;
  justify-content: center;
}
.hero .content p {
  font-size: 1.2rem;
}

.content .btn {
  margin: 1rem 0.2rem;
}

.lastNa {
  color: #a7d129;
}

@media screen and (max-width: 640px) {
  .hero .content h1 {
    font-size: 3rem;
  }
  .hero .content p {
    font-size: 1rem;
  }
  .btn {
    display: inline-block;
  }
}
