.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  width: 90%;
  max-width: 90%;
  flex-direction: column;
}

.hero .content h1 {
  font-size: 6rem;
  padding-bottom: 0.2rem;
  justify-content: center;
}
.hero .content p {
  font-size: 1.5rem;
}

.content .btn {
  margin: 1rem 0.2rem;
}

.lastNa {
  color: #a7d129;
}

@media screen and (max-width: 740px) {
  .hero .content h1 {
    font-size: 3rem;
  }
  .hero .content p {
    font-size: 1rem;
  }
  .btn {
    display: inline-block;
  }
}
