@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background: #0e0e0e;
}

h1,
h2,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}

li,
ul {
  list-style: none;
}

.App {
  padding: 0.5rem 3.5rem;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: ponter;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s;
  width: 11rem;
}

.btn:hover {
  color: #000;
  background: rgb(248, 217, 15);
}
